security:
  admin:
    allow-all: true

spring:
  application:
    name: bookvexe-be-j2e
  config:
    import: optional:classpath:application-oauth.yml

  datasource:
    url: jdbc:postgresql://localhost:5432/bookvexedb_j2e
    username: postgres
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

  docker:
    compose:
      enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyendinhthongdhsg@gmail.com
    password: auxhnuproxxopoug
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

      # --- Recommended properties to prevent infinite spam/blocking ---
      # Max number of times to retry sending a record. Set to 0 to fail fast on network error.
      retries: 5

      properties:
        # How long to wait for a broker connection before timing out (ms).
        # Default is often high (e.g., 30000), making the request block for too long.

        delivery.timeout.ms: 5000

      # How long the producer can block waiting for a send acknowledgement. Should be less than delivery-timeout-ms.
        request.timeout.ms: 3000

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace
      springframework:
        web: DEBUG
        web.servlet.DispatcherServlet: DEBUG
        web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG
        security: DEBUG
        security.web.FilterChainProxy: DEBUG
      flywaydb: DEBUG

server:
  port: 5181
app:
  email:
    sender: nguyendinhthongdhsg@gmail.com
  jwt:
    secret: "your-very-secure-secret-key-that-is-at-least-32-characters-long"
    expiration:
      ms: 86400000 # 24 hours
    refresh-expiration:
      ms: 604800000 # 7 days

microservices:
  notification:
    enabled: true
  mail:
    enabled: true

chat:
  service:
    url: http://localhost:5182

services:
  payment-service:
    url: http://localhost:8084
