security:
  admin:
    allow-all: true

spring:
  config:
    import: optional:classpath:application-oauth-k8s.yml
  
  session:
    store-type: none
    
  servlet:
    session:
      cookie:
        same-site: lax
        secure: false
        http-only: true
        
  datasource:
    url: jdbc:postgresql://postgres-service:5441/bookvexedb_j2e
    username: postgres
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

  docker:
    compose:
      enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyendinhthongdhsg@gmail.com
    password: auxhnuproxxopoug
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

  kafka:
    producer:
      bootstrap-servers: kafka-service:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: info
      springframework:
        web: INFO
        security: INFO
      flywaydb: INFO

server:
  port: 5181
  servlet:
    context-path: /api/bookvexe-be-j2e

app:
  email:
    sender: nguyendinhthongdhsg@gmail.com
  jwt:
    secret: "your-very-secure-secret-key-that-is-at-least-32-characters-long"
    expiration:
      ms: 86400000 # 24 hours
    refresh-expiration:
      ms: 604800000 # 7 days

chat:
  service:
    url: http://bookvexe-chat-service:5182/api/bookvexe-chat-service

services:
  payment-service:
    url: http://bookvexe-payment-service:8084/api/bookvexe-payment-service