security:
  admin:
    allow-all: true

spring:
  profiles:
    active: dev

  application:
    name: bookvexe-be-j2e

  #  config:
  #    import: optional:classpath:application-oauth.yml

  datasource:
    url: jdbc:postgresql://localhost:5432/bookvexedb_j2e
    username: root
    password: nopass
  ai:
    ollama:
      base-url: http://localhost:11434 # URL của Ollama server (mặc định)
      chat:
        options:
          model: gemma2 # Mô hình AI (có thể đổi thành mistral, gemma2, v.v.)
          temperature: 0.7
      embedding:
        options:
          model: nomic-embed-text # Mô hình embedding cho vector search
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none # ddl-auto was originally set to update, now explicitly none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    # log SQL binding parameters to get the actual values of a query parameter
  # spring.jpa.hibernate.ddl-auto: update

  # spring.autoconfigure.exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

  flyway:
    enabled: true
    locations: classpath:db/migration

  docker:
    compose:
      enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: YOUR_GMAIL_ADDRESS@gmail.com # Replace with your Gmail email
    password: YOUR_GENERATED_APP_PASSWORD # Replace with your 16-character App Password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace
      springframework:
        web: DEBUG # Log incoming HTTP requests and mappings
        web.servlet.DispatcherServlet: DEBUG
        web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG
        security: DEBUG # Log security decisions
        security.web.FilterChainProxy: DEBUG
      flywaydb: DEBUG

server:
  port: 5181

app:
  jwt:
    secret: "your-very-secure-secret-key-that-is-at-least-32-characters-long"
    expiration:
      ms: 86400000 # 24 hours
    refresh-expiration:
      ms: 604800000 # 7 days

  # The email address that will appear as the sender
  email:
    sender: YOUR_GMAIL_ADDRESS@gmail.com

vnpay:
  tmnCode: Q1IN2L3L
  hashSecret: K2TVGW712204XAV8CRRO5G83CK1MDYT4
  payUrl: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
  returnUrl: https://renee-arumlike-azariah.ngrok-free.dev/api/vnpay-return
  ipnUrl: https://renee-arumlike-azariah.ngrok-free.dev/api/vnpay-ipn
  frontendReturnUrl: http://localhost:5173/payment/vnpay-return